.container {
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
}
.container:hover {
  background-color: #296949;
}
.link {
  width: fit-content;
}
