.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 0 20px;
}
.logo {
  font-weight: bold;
  font-size: 32px;
}
.links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbarLink {
  display: flex;
  gap: 20px;
}
.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}
.navbarButton {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    position: relative;
  }
  .navbarLinksContainer {
    position: absolute;
    top: -1050px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 10;
    transition: transform 0.5s ease-in-out;
  }
  .navbarLink {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50px;
    left: 0;
    right: 0;
    gap: 20px;
    z-index: 10;
  }
  .navbarButton {
    display: block;
  }
}
@media (max-width: 425px) {
}
