.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.logo {
  font-weight: bold;
  font-size: 32px;
}
.links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbarLink {
  display: flex;
  gap: 20px;
}
.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}
.navbarButton {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    position: relative;
  }
  .logo {
    font-weight: bold;
    font-size: 26px;
  }
  .navbarLinksContainer {
    position: fixed;
    margin: 0 auto;
    top: -1050px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: #eee;
    z-index: 10;
    animation: 1s all ease-in-out;

    /* transition: transform all 0.5s ease-in-out; */
  }
  .navbarLink {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50px;
    left: 0;
    right: 0;
    gap: 20px;
    z-index: 10;
  }
  .navbarButton {
    display: block;
  }
}
@media (max-width: 425px) {
  .logo {
    font-weight: bold;
    font-size: 20px;
  }
}
